<form #authorForm = "ngForm" (ngSubmit)="addAuthor()">
    <div class="container">
        <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Enter Author Name" [(ngModel)] = "author"
                    #newAuthor
                    type ="text"
                    name = "newAuthor"
                    required>
                    <mat-error *ngIf="!(newAuthor.invalid)">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
        </div>
        <div class="row">
            <button mat-raised-button color="primary" [disabled]="!authorForm.valid">Add Author</button>
            <button type="button" mat-raised-button routerLink = "/authors">Cancel</button>
        </div>
    </div>
    </form>

