<p *ngIf="!(dbPosts$ | async)"> loading posts...</p>
<mat-accordion>
    <a *ngIf = "(dbPosts$ | async)" class = "btn btn-primary add" [routerLink] = "['/dbposts','add-post']">Add new post</a>
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let dbPost of dbPosts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>{{dbPost.title}}</b>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p> <q>{{dbPost.body}}</q></p>
        <p> <b>By: </b> {{dbPost.author}}</p>
        <button mat-raised-button class="btn btn-primary edit" [routerLink] = "['/dbposts',dbPost.key,'edit-post']" >Edit</button>
        <button mat-raised-button class="btn btn-danger del"  (click) = "delete(dbPost.title, dbPost.key)">Delete</button>
    </mat-expansion-panel>
</mat-accordion>