.edit, .del{
    margin: 10px;
    width: 10em;
    height: 3em;
    text-align: center;
}
.add{
    margin: 10px;
    text-align: center;
    width: 10em;
}
/* .ok{
    background: ;
} */


.snackbarColor{
    background: #B00020;
    color: white;
}
