<mat-accordion>
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let book of books">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{book.title}}
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> by {{book.author}}</p>
    </mat-expansion-panel>
</mat-accordion>

<a class = "btn btn-primary" routerLink = "/books/create">add new book</a>