<form #authorForm = "ngForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <mat-form-field>
                <input matInput [(ngModel)] = "authorEdit"
                #author
                type ="text"
                name = "author"
                required> 
                <mat-error *ngIf="!(author.invalid)">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <button mat-raised-button color="primary" [disabled]="!authorForm.valid">Update</button>
            <button type="button" mat-raised-button routerLink = "/authors">Cancel</button>
        </div>
    </div>
</form>