.btn{
    margin-right: 10px;
    width: 10em;
    height: 3em;
    text-align: center;
}
.container{
    display: inline-block;
    width: 90%;
    height: 100%;
    margin: 10px;
}
mat-form-field{
    width: 30%;
}
textarea{
    height: 80px;
}