<form #postForm = "ngForm" (ngSubmit)="submit()">
    <div class="container">
    <div class="row">
        <mat-form-field >
            <input matInput placeholder="Enter post title" [(ngModel)] = "title"
            #postTitle
            type ="text"
            name = "newTitle"
            required>
            <mat-error *ngIf="!(postTitle.invalid)">{{getTitleErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <textarea matInput placeholder="Enter post body" [(ngModel)] = "body"
            #postBody
            type ="text"
            name = "newBody"
            required></textarea>
            <mat-error *ngIf="!(postBody.invalid)">{{getBodyErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
            <input matInput placeholder="Enter your name" [(ngModel)] = "user"
            #postUser
            type ="text"
            name = "newUser"
            required>
            <mat-error *ngIf="!(postUser.invalid)">{{getUserErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class = "buttons">
        <button class ="btn" mat-raised-button color="primary" [disabled]="!postForm.valid"> {{btnText}} </button>
        <button type="button" class ="btn" mat-raised-button routerLink = "/dbposts">Cancel</button>
    </div>
</div>
</form>