<form #bookForm = "ngForm" (ngSubmit)="addBook()">
    <div class="container">
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Enter Book Title" [(ngModel)] = "book"
                #newBook
                type ="text"
                name = "newBook"
                required>
                <mat-error *ngIf="!(newBook.invalid)">{{getBookErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Enter Author Name" [(ngModel)] = "author"
                    #newAuthor
                    type ="text"
                    name = "newAuthor"
                    required>
                    <mat-error *ngIf="!(newAuthor.invalid)">{{getAuthorErrorMessage()}}</mat-error>
                </mat-form-field>
        </div>
        <div class="row">
            <button mat-raised-button color="primary" [disabled]="!bookForm.valid">Add Book</button>
            <button type="button" mat-raised-button routerLink = "/books">Cancel</button>
        </div>
    </div>
    </form>
