<p *ngIf="!(posts$ | async)"> loading posts...</p>
<mat-accordion>
    <a *ngIf = "(posts$ | async)" class = "btn btn-primary" (click) = "addPPostsToFirestore()">add posts to firestore</a>
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        *ngFor="let post of posts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>{{post.title}}</b> 
            </mat-panel-title>
            <mat-panel-description >
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p> <q>{{post.body}}</q></p>
        <p> <b>By: </b> {{post.userName}}</p>
    </mat-expansion-panel>
</mat-accordion>