<p *ngIf="!(authors$ | async)"> loading authors...</p>
<mat-selection-list #numOfAuthors>
  <mat-list-option *ngFor="let author of authors$ | async">
    {{author.name}} <a [routerLink] = "['/authors',author.id,author.name, 'edit']">edit</a>
  </mat-list-option>
</mat-selection-list>
    
<p *ngIf="numOfAuthors.selectedOptions.selected.length !== 0">
  Options selected: {{numOfAuthors.selectedOptions.selected.length}}
</p>

<a class = "btn btn-primary" routerLink = "/authors/create" *ngIf="(authors$ | async)">add new author</a>