/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }

/* mat-confirm-dialog (customised dialog) */
.delete-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}
.delete-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: inline-flex;
}
.delete-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}
.delete-dialog-container #close-icon:hover{
cursor: pointer;
}

.delete-dialog-container #no-button{
height: 50px;
width: 48%;
background-color: #fc7169;
color:white;
border-radius: 0px;
margin: 2px;
}

.delete-dialog-container #yes-button{
    height: 50px;
    width: 49%;
    background-color: #b6bece;
    color:white;
    border-radius: 0px;
    margin: 2px;
}

.delete-dialog-container span.content-span{
    padding:  35px 16px;
    text-align: center;
    font-size: 20px;
}

snack-bar-container.success {
    background-color: #1DE9B6;
    color : #fff;
  }

  snack-bar-container.warn {
    background-color: #B00020;;
    color : #fff;
  }

  snack-bar-container.info {
    background-color: #81BEF7;
  }
